name: Create Release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'The semver bump type (patch, minor, major)'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    defaults:
      run:
        working-directory: ./packages/docusaurus-plugin-generate-schema-docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install dependencies
        run: |
          npm install -g npm@latest
          # Install dependencies in the root of the project
          npm ci --ignore-scripts
        working-directory: ./

      - name: Run tests
        run: npm test
        working-directory: ./

      - name: Bump version
        id: bump_version
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          npm version ${{ github.event.inputs.semver }}
          echo "tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

      - name: Push changes
        run: git push --follow-tags

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.bump_version.outputs.tag }}
          generate_release_notes: true

      - name: Publish package
        run: npm publish --access public --provenance
        env:
          NPM_CONFIG_PROVENANCE: true
