name: Create Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run tests
        run: npm test

      - name: Configure Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: Update package version
        run: |
          VERSION=$(echo ${{ github.ref_name }} | sed 's/v//')
          npm --prefix packages/docusaurus-plugin-generate-schema-docs version $VERSION --no-git-tag-version

      - name: Create Docusaurus version and version schemas
        run: |
          VERSION=$(echo ${{ github.ref_name }} | sed 's/v//')
          npm run version -- $VERSION

      - name: Commit and push versioned files
        run: |
          git add .
          git commit -m "docs: version docs and schemas for ${{ github.ref_name }} [skip ci]"
          git push

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true

      - name: Publish package
        working-directory: ./packages/docusaurus-plugin-generate-schema-docs
        run: npm publish --access public --provenance
        env:
          NPM_CONFIG_PROVENANCE: true
