name: Validate JSON Schemas
on:
  pull_request:
    branches:
      - main
jobs:
  validate-schemas:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate all json files using their own $schema properties
        uses: cardinalby/schema-validator-action@v3
        with:
          file: 'schemas/**/*.json'
